#mainwindow-title {
    -fx-font: 25px Tahoma;
	-fx-font-weight: bold;
}
#mainwindow-title-microbannerupper {
    -fx-font: 16px Tahoma;
	-fx-font-weight: bold;
}
#mainwindow-title-microbannerlower {
    -fx-font: 14px Tahoma;
	-fx-font-weight: bold;
}
#mainwindow {
	-fx-background-color:lightblue;
}
#mainwindow-dashboard{
	-fx-hgap:5;
	-fx-vgap:5;
	-fx-background-color: lightblue;
	-fx-pref-rows: 2;
	-fx-pref-columns: 4;
}
#mainwindow-dashboard-scroll{
	-fx-background-color: lightblue;
	-fx-padding: 10 5 10 5;
}
#mainwindow-dashboard-component{
	-fx-background-color: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 5 , 5 );
	-fx-background-radius:10;
	-fx-font-size:20;
	-fx-alignment:center;
	-fx-padding: 10 0 0 0;
}	
#mainwindow-dashboard-component-measure{
	-fx-font-size:30;
	-fx-alignment: center;
	-fx-spacing:10;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 5 , 5 );
}	
#mainwindow-dashboard-component-units{
	-fx-font-size:10;
	-fx-alignment: center;
	-fx-spacing:10;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 5 , 5 );
}	
#mainwindow-dashboard-component-title{
	-fx-font-size:16;
	-fx-font-weight: bold;
	-fx-alignment: center;
}
#lowerbanner{
	-fx-font-size:16;
	-fx-alignment: center;
}
#lowerbannerled{
	-fx-font-size:14;
	-fx-alignment: center-right;
}
#lowerbanner-bold{
	-fx-font-size:16;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-background-color: lightblue;
}
#lowerbanner-scroll{
	-fx-font-size:16;
	-fx-font-weight: bold;
	-fx-background-color: lightblue;
}
#background-colour{
	-fx-background-color: lightblue;
}
#message-window{
	-fx-background-color: lightblue;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 5 , 5 );
	-fx-background-radius:10;
	-fx-border-radius:10;
	-fx-border-color:black;
	-fx-border-width:2.0px;
}#message-box{
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 5 , 5 );
	-fx-background-radius:10;
	-fx-border-radius:10;
	-fx-border-color:black;
	-fx-border-width:2.0px;
    -fx-font: 18px Tahoma;
}#element-title{
	-fx-font-size:18;
	-fx-padding: 10 0 0 10;
	-fx-font-weight: bold;
	-fx-alignment: center;
}
#element-text {
    -fx-font: 20px Tahoma;
}
/*-------------------------------------
Keypad 
-------------------------------------*/

#keypad-button{
	-fx-hgap:5;
	-fx-vgap:5;
	-fx-background-color: white;
	-fx-background-radius:10;
	-fx-font-size:15;
	-fx-alignment:center;
	-fx-padding: 5 5 5 5;
}	
#keypad-button-large{
	-fx-hgap:5;
	-fx-vgap:5;
	-fx-background-color: white;
	-fx-background-radius:10;
	-fx-font-size:30;
	-fx-alignment:center;
	-fx-padding: 5 5 5 5;
}	
#keypad-keypad{
	-fx-hgap:5;
	-fx-vgap:5;
	-fx-padding: 5 5 5 5;
}	
#keypad-display{
	-fx-hgap:5;
	-fx-vgap:5;
	-fx-padding: 20 5 5 5;
}	
#keypad-output{
	-fx-hgap:5;
	-fx-vgap:5;
	-fx-padding: 5 5 5 5;
	-fx-background-color: white;
	-fx-background-radius:10;
	-fx-font-size:20;
	-fx-alignment:center;
}	

/*-------------------------------------
Device Screens
-------------------------------------*/
/* controls the simple results box at the bottom of each device*/
#resultsbox{
	-fx-padding: 10 0 0 10;
	-fx-alignment:center;
}
#resultstext{
    -fx-font: 40px Tahoma;
	-fx-font-weight: bold;
	-fx-alignment:center;
}
#resultstextroller{
    -fx-font: 60px Tahoma;
	-fx-font-weight: bold;
	-fx-alignment:center;
}
#resultsunits{
	-fx-text-fill:black;
    -fx-font-weight: bold;
	-fx-font: 20px Tahoma;
	-fx-alignment:center;
}
#resultstimetext{
	-fx-text-fill:black;
	-fx-font-size:15px;
}
#thermometerresultstimetext{
	-fx-text-fill:black;
	-fx-font-size:25px;
	-fx-background-color: lightblue;
}
#scrollpane{
	-fx-background-color: lightblue;
}
#responsestabletext{
	-fx-font-size:16px;
}
/* Messenger element main boxes*/
#messenger-messageList{
}
#messenger-messagecontent{
}
#questionnaire-questionpanel{
	-fx-background-color: lightblue;
	-fx-font-size:20px;
}
#questionnaire-responsepanel{
	-fx-font-size:20px;
}
#questionnaire-button-start{
	-fx-font-size:20px;
-fx-background-radius:10;
}
#questionnaire-title-label{
	-fx-font-size:17px;
}
#questionnaire-button-yes{
	-fx-font-size:20px;
-fx-background-radius:10;
}
#questionnaire-button-no{
	-fx-font-size:20px;
-fx-background-radius:10;
}
#transmitter-component{
	-fx-background-color: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 5 , 5 );
	-fx-background-radius:10;
	-fx-alignment:center;
}	
#transmitter-text{
    -fx-font: 20px Tahoma;
	-fx-background-color: lightblue;
}
#settings-creditscontent{
    -fx-font: 15px Tahoma;
}
#settings-text{
    -fx-font: 20px Tahoma;
}
/*-------------------------------------
Miscellaneous
-------------------------------------*/	
/* controls the close button*/
#button-close{
-fx-background-color: Tomato;
-fx-background-radius:10;
}
/* controls the back button on each device screen where applicable*/
#button-response{
-fx-font-size:18px;
-fx-background-radius:10;
}
#button-back{
-fx-font-size:20px;
-fx-background-radius:10;
}
/* controls the next button on each device screen where applicable*/
#button-next{
-fx-font-size:20px;
-fx-background-radius:10;
}
/* controls the download button on each device screen where applicable*/
#button-download{
-fx-font-size:20px;
-fx-background-radius:10;
}
#button-end{
-fx-font-size:20px;
-fx-background-radius:10;
}
#button-cancel{
-fx-font-size:20px;
-fx-background-radius:10;
}
#button-record{
-fx-font-size:20px;
-fx-background-radius:10;
}
#button-transmit{
-fx-font-size:20px;
-fx-background-radius:10;
}
#button-runschednow{
-fx-font-size:20px;
-fx-background-radius:10;
}
#button-closemedipi{
-fx-font-size:20px;
-fx-background-radius:10;
}
#button-plusminus{
	-fx-background-radius:10;
	-fx-font-size:30;
	-fx-alignment:center;
	-fx-padding: 5 5 5 5;
}
/*-------------------------------------
Guide
-------------------------------------*/	
#guide-image {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 5 , 5 );
	-fx-background-radius:10;
}
#guide-title {
    -fx-font: 20px Tahoma;
}
#guide-text {
    -fx-font: 18px Tahoma;
	-fx-background-color: lightblue;
}
#guide-colour {
	-fx-background-color: lightblue;
}
#guide-scrollpane {
	-fx-background-color: lightblue;
}
#guide-button-forward {
-fx-font-size:20px;
-fx-background-radius:10;
}
#guide-button-back {
-fx-font-size:20px;
-fx-background-radius:10;
}
/*-------------------------------------
Schedule
-------------------------------------*/	
#schedule-title {
    -fx-font: 20px Tahoma;
	-fx-font-weight: bold;
}
#schedule-text {
    -fx-font: 18px Tahoma;
}
#scheduler-schedulelist {
    -fx-font: 15px Tahoma;
}
#schedule-component{
	-fx-background-color: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 5 , 5 );
	-fx-background-radius:10;
	-fx-alignment:center;
}	
#scheduler-grid-border{
-fx-grid-lines-visible: true;
}
/*-------------------------------------	
Messenger
-------------------------------------*/	
#messenger-list {
    -fx-font: 20px Tahoma;
}
#messenger-text {
    -fx-font: 20px Tahoma;
}
#responses-table {
    -fx-font: 15px Tahoma;
	-fx-alignment:center;
}
